@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom right, #699d9e, #63c787);
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin: 5px;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

h2 {
  color: #78af8e;
}

h3 {
  color: #78af8e;
  margin: 0;
}

ul {
  padding-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

li {
  padding-bottom: 5px;
  list-style-type: square;
  font-family: "roboto";
}

ul li::marker {
  color: #78af8e;
}

li::marker {
  color: #78af8e;
}

/* ---Main Container--- */
.main-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
  border-radius: 40px;
  max-width: 400px;
  height: 800px;
  box-shadow: -5px 5px 20px 0px #000000;
  z-index: 1;
}
.main-container-name {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  top: -120px;
}

.contact-button {
  background-color: #63c787;
  width: 120px;
  height: 35px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bolder;
}

.main-container-name > a:link {
  text-decoration: none;
  color: white;
}

.contact {
  width: 400px;
  position: absolute;
  bottom: -200px;
  text-align: center;
  font-size: 16px;
}

.sky {
  border-radius: 40px 40px 0px 0px;
  width: 100%;
}

.profile-picture {
  max-width: 200px;
  position: relative;
  top: -140px;
  background-color: white;
  border: 3px solid white;
  border-radius: 100px;
  box-shadow: 0px 5px 10px 0px #000000;
}

aside > h2 {
  margin-left: 0;
  margin-bottom: 0.4rem;
}

/* ---Linkbox-Content--- */
.linkbox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  width: 300px;
  height: 730px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: -5px 5px 20px 0px #000000;
  z-index: 0;
}

.external-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 3px solid #63c787;
  box-shadow: -2px 2px 5px 0px #000000;
  border-radius: 10px;
  margin: 20px;
  height: 100px;
}

/* ---Infobox--- */
.infobox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 15px;
  background-color: white;
  width: 300px;
  height: 730px;
  border-radius: 20px 0px 0px 20px;
  box-shadow: -5px 5px 20px 0px #000000;
  z-index: -2;
}

/* ---background-content--- */
.background-squares-properties {
  border-radius: 40px;
  z-index: -2;
  position: fixed;
  background-color: #699d9e;
  opacity: 0.5;
}

.background-squares1 {
  transform: rotate(-30deg);
  top: 120px;
  left: 400px;
  height: 200px;
  width: 200px;
}

.background-squares2 {
  transform: rotate(40deg);
  top: 580px;
  left: 500px;
  height: 400px;
  width: 400px;
}

.background-squares3 {
  transform: rotate(20deg);
  top: 580px;
  left: 150px;
  height: 150px;
  width: 150px;
}

.background-squares4 {
  transform: rotate(60deg);
  top: -100px;
  left: 1100px;
  height: 350px;
  width: 350px;
}

.background-squares5 {
  transform: rotate(20deg);
  top: 500px;
  left: 1300px;
  height: 500px;
  width: 500px;
}
