@import url(/style/variables.css);
@import url(/style/utils.css);

@import url(/style/components/background.css);
@import url(/style/components/main-container.css);
@import url(/style/components/infobox.css);
@import url(/style/components/linkbox.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: "Roboto", sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

p {
  margin: 5px;
}

h1 {
  font-size: 30px;
  margin: 10px;
}

h2 {
  color: #78af8e;
}

h3 {
  color: #78af8e;
  margin: 0;
}

ul {
  padding-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

li {
  padding-bottom: 5px;
  list-style-type: square;
  font-family: "roboto";
}

ul li::marker {
  color: #78af8e;
}

li::marker {
  color: #78af8e;
}
